.user__name {
  font-size: 15px;
  padding-left: 10px;
  padding: 10px;
}
.user__message {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid #007bff1a;
  border-radius: 10px;
  padding: 5px;
  background: #007bff13;
  word-wrap: break-word;
  max-width: 300px;
}
.message {
  align-items: center;
  flex-wrap: wrap-reverse;
}
.message-user {
  background: #003f8357;
  border: 2px solid #0051a85b;
  font-weight: bold;
}
.message-wrapper {
  justify-content: flex-end;
}
